body {
  background-color: #15202b;
  color: white;
}
.container {
  height: 150px;
}
.span-btn {
  z-index: 1;
  transform: translateY(-48px);
  float: right;
}
.div-alert {
  z-index: 1;
  transform: translateY(-48px);
  float: left;
  padding: 0;
  padding-top: 4px;
  margin: 0;
  text-align: center;
}
.text-area {
  background-color: #15202b;
  resize: none;
}
.text-area:focus {
  background-color: #15202b;
  color: white;
  padding: 10px;
}
.wrapper-tweet {
  background-color: #343a40;
}

.header-tweet {
  color: #6c757d;
}
